body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#frame {
}

#notes {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 600px;
}

.mt1 {
  margin-top: 1em;
}

.text {
  letter-spacing: 1.2px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 300px;
}

.border {
  border: 1px solid #444;
  padding: 1em;
}

.text.justify {
  text-align: justify;
}

.text.italic {
  font-style: italic;
}

.text.center {
  align-self: center;
}

.credit.right,
.text.right {
  align-self: flex-end;
}
